.text-center {
  text-align: center;
}
.image {
  background-size: cover;
  width: 250px;
  height: 150px;
}

div.panel-heading{

 background-color: #8d1b3d;

}

.roundedImage{
  overflow:hidden;
  -webkit-border-radius:60px;
  -moz-border-radius:70px;
  border-radius:50px;
  width:100px;
  height:100px;
}
