
form{

  display: block;
  margin:50px 650px 0px;
  width: 50%;
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  font-size: $font-size-base;
  line-height: $input-line-height;
  color: $input-color;
  border: $input-border-width solid $input-border-color;

}

