
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script>

  </script>

  <div ng-app="app" ng-controller="exampleController as ctrl">
    <button ng-click="ctrl.myFunction()">click me</button>
    <button onclick="myFunction()">click me</button>
  </div>

  <link href="/still/bulletin.css" rel="stylesheet" type="text/css" media="print"/>

</head>

<router-outlet>
  <nav class="navbar navbar-default">
    <div class="container-fluid">


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <div class="navbar-header">
              <img src="https://api.fifa.com/api/v1/picture/tournaments-sq-4/255711_w"border-radius="50%;" width="50px;">
              <a class="navbar-brand" routerLink="home">Qatar2022</a>
            </div>
            <li class="nav-item">
              <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li><a routerLink="users" *ngIf="showAdminBoard" >Liste des utilisateurs</a></li>
            <li><a  routerLink="equipes" *ngIf="isLoggedIn">Liste des equipes</a></li>
            <li><a routerLink="joueurs" *ngIf="isLoggedIn">Liste des joueurs</a></li>
            <li><a routerLink="staffs" *ngIf="isLoggedIn">Liste des Staffs</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="isLoggedIn && !showAdminBoard">
              <a class="nav-link" routerLink="profile">{{ username }}</a>
            </li>
            <li *ngIf="isLoggedIn && showAdminBoard">
              <a class="nav-link" routerLink="profile">{{ username }}</a>
            </li>
            <li *ngIf="isLoggedIn" class="" >
              <a  class="nav-link" (click)="logout()">LogOut</a>
            </li>

            <li *ngIf="!isLoggedIn">
              <a class="nav-link" routerLink="register" >Sign Up</a>
            </li>
            <li *ngIf="!isLoggedIn">
              <a  class="nav-link" routerLink="login">Login</a>
            </li>
          </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


</router-outlet>
