
<!DOCTYPE html>

<div id="fh5co-page">

  <!-- #fh5co-header -->

  <section id="fh5co-hero" class="no-js-fullheight" style="background-image: url(assets/images/t.PNG);" data-next="yes">
    <div class="fh5co-overlay"></div>
    <div class="container">
      <div class="fh5co-intro no-js-fullheight">
        <div class="fh5co-intro-text">
          <!--
            INFO:
            Change the class to 'fh5co-right-position' or 'fh5co-center-position' to change the layout position
            Example:
            <div class="fh5co-right-position">
          -->
          <br> <br> <br>
          <div class="fh5co-center-position">
            <h2 class="animate-box">FIFA 2022</h2>
            <h3 class="animate-box">Keep up with the FIFA World Cup Qatar 2022™ in Arabic! From the latest news to in-depth team profiles, exclusive interviews, ticketing information and more – follow it all in the host country’s language.

            </h3>

          </div>
        </div>
      </div>
    </div>

    <!-- For demo purposes Only ( You may delete this anytime :-) -->
    <div id="colour-variations">
      <a class="option-toggle"><i class="icon-gear"></i></a>
      <h3 data-theme="red"> <li><a href="javascript: void(0);" data-theme="style"></a></li>FIFA 2022</h3>


    </div>
    <div class="fh5co-learn-more animate-box">
      <a href="#" class="scroll-btn">
        <span class="text">Explore more about us</span>
        <span class="arrow"><i class="icon-chevron-down"></i></span>
      </a>
    </div>
  </section><br> <br>
  <section id="fh5co-hero" class="no-js-fullheight" style="background-image: url(assets/images/aya2.PNG);" data-next="yes">
    <div class="fh5co-overlay"></div>
    <div class="container">
      <div class="fh5co-intro no-js-fullheight">
        <div class="fh5co-intro-text">


        </div>
      </div>
    </div>
    <div class="fh5co-learn-more animate-box">
      <a href="#" class="scroll-btn">
        <span class="text">Explore more about us</span>
        <span class="arrow"><i class="icon-chevron-down"></i></span>
      </a>
    </div>
  </section>
  <!-- END #fh5co-hero -->


  <div id="fh5co-about">
    <div class="container">
      <div class="row row-bottom-padded-lg">
        <div class="col-md-6">
          <figure class="animate-box">
            <img src="assets/images/t3.PNG" alt="Free HTML5 Bootstrap Template by FREEHTML5.co" class="img-responsive">
          </figure>
        </div>

        <div class="col-md-6">
          <h2 class="fh5co-lead animate-box"> "World Cup 2022" redirects here. For the Women's Cricket World Cup, see 2022 Women's Cricket World Cup.</h2>
          <p class="fh5co-sub-lead animate-box">

          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="fh5co-person">
            <figure class="animate-box">
              <img src="assets/images/yy.PNG" alt="Free HTML5 Bootstrap Template by FREEHTML5.co"class="image">
            </figure>
            <h3 class="fh5co-name animate-box">QATAR 2022</h3>
            <h4 class="fh5co-designation animate-box">Founder, Web Developer</h4>
            <p class="fh5co-bio animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <ul class="fh5co-social">
              <li class="animate-box"><a href="#"><i class="icon-twitter"></i></a></li>
              <li class="animate-box"><a href="#"><i class="icon-dribbble"></i></a></li>
              <li class="animate-box"><a href="#"><i class="icon-globe"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="fh5co-person">
            <figure class="animate-box">
              <img src="assets/images/t2.PNG" alt="Free HTML5 Bootstrap Template by FREEHTML5.co" class="image">
            </figure>
            <h3 class="fh5co-name animate-box">QATAR 2022</h3>
            <h4 class="fh5co-designation animate-box">Founder, Creative Director</h4>
            <p class="fh5co-bio animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <ul class="fh5co-social">
              <li class="animate-box"><a href="#"><i class="icon-twitter"></i></a></li>
              <li class="animate-box"><a href="#"><i class="icon-github"></i></a></li>
              <li class="animate-box"><a href="#"><i class="icon-globe"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="fh5co-person">
            <figure class="animate-box">
              <img src="assets/images/tt.PNG" alt="Free HTML5 Bootstrap Template by FREEHTML5.co" class="image">
            </figure>
            <h3 class="fh5co-name animate-box">QATAR 2022</h3>
            <h4 class="fh5co-designation animate-box">UI Designer &amp; Animator</h4>
            <p class="fh5co-bio animate-box">  2022 FIFA World Cup</p>
            <p class="fh5co-bio animate-box"> كأس العالم لكرة القدم 2022  </p>
            Kaʾs al-ʿālam li-kurat al-qadam 2022
            Qatar 2022
            2022 قطر‎
            2022 FIFA World Cup.svg
            The official emblem
            Tournament details
            Host country	Qatar
            Dates	21 November – 18 December
            Teams	32 (from 5 or 6 confederations)
            Venue(s)	8 (in 5 host cities)  <ul class="fh5co-social">
            <li class="animate-box"><a href="#"><i class="icon-twitter"></i></a></li>
            <li class="animate-box"><a href="#"><i class="icon-dribbble"></i></a></li>
            <li class="animate-box"><a href="#"><i class="icon-globe"></i></a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- END #fh5co-about -->


  <div id="fh5co-info">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <figure class="animate-box">
            <img src="assets/images/ff.PNG" class="roundedImage"  alt="Free HTML5 Bootstrap Template by FREEHTML5.co" class="img-responsive">
          </figure>
        </div>
        <div class="col-md-6">
          <figure class="animate-box">
            <img src="assets/images/gg.PNG" class="roundedImage"  alt="Free HTML5 Bootstrap Template by FREEHTML5.co"class="img-responsive">
          </figure>
        </div>
      </div>
    </div>
  </div>



  <section id="fh5co-subscribe">
    <div class="container">

      <h3 class="animate-box"><label for="email">Subscribe to our newsletter</label></h3>
      <form action="#" method="post" class="animate-box">
        <i class="fh5co-icon icon-paper-plane"></i>
        <input type="email" class="form-control" placeholder="Enter your email" id="email" name="email">
        <input type="submit" value="Send" class="btn btn-primary">
      </form>

    </div>
  </section>
  <!-- END #fh5co-subscribe -->




  <footer id="fh5co-footer">
    <div class="container">
      <div class="row row-bottom-padded-md">
        <div class="col-md-3 col-sm-6 col-xs-12 animate-box">
          <div class="fh5co-footer-widget">
            <h3>football</h3>
            <ul class="fh5co-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Feature Tour</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Team</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 animate-box">
          <div class="fh5co-footer-widget">
            <h3>sportz channel</h3>
            <ul class="fh5co-links">
              <li><a href="#">Knowledge Base</a></li>
              <li><a href="#">24/7 Call Support</a></li>
              <li><a href="#">Video Demos</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 animate-box">

          <h3>Contact Us</h3>
          <p></p>
          <a href="mailto:info@freehtml5.co">FIFA@freehtml5.co</a> <br>
          Qatar <br>

          <a href="tel:+123456789">+12 34  5677 89</a>


        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 animate-box">
          <div class="fh5co-footer-widget">
            <h3>Follow Us</h3>
            <ul class="fh5co-social">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-google-plus"></i></a></li>
              <li><a href="#"><i class="icon-instagram"></i></a></li>
              <li><a href="#"><i class="icon-youtube-play"></i></a></li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </footer></div>
